.header {
  height: 60px;
  padding: 0 20px;
  background-color: var(--white-1);
  box-shadow: 0 0 20px 0 rgb(44 101 144 / 10%);

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    position: relative;
  }

  &__logoImg {
    width: 111px;
    height: 32px;
  }

  &__env {
    font-size: 12px;
    color: var(--white-1);
    background-color: var(--orange-1);
    font-weight: 900;
    padding: 3px 5px;
    border-radius: 6px;

    position: absolute;
    top: 0;
  }
}